{
  "plugins": [
    "@trivago/prettier-plugin-sort-imports"
  ],
  "semi": true,
  "singleQuote": false,
  "printWidth": 90,
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "^~/(.*)$",
    "^((.|..)/(.*)|.)$"
  ]
}
